*{
    box-sizing: border-box;
}
body{
    background-color: rgb(216, 216, 216);
    margin: 0;
    padding: 0;
}

.caja{
    display: flex;
    background-color: rgb(247, 236, 252);
    height: 65vh;
}
.caja1{
    display: flex;
    background-color: rgb(243, 196, 255);
    height: 35vh;
}

.caja2{
    display: flex;
    background-color: rgb(223, 201, 233);
    height: 35vh;
}
.caja3{
    display: flex;
    background-color: rgb(226, 176, 238);
    height: 65vh;
}